In [1]:
import numpy as np
import pandas as pd

## Series

In [2]:
benimDict = {"seyda": 25, "zeynep": 40, "mehmet": 30}

In [7]:
pd.Series(benimDict)

seyda     25
zeynep    40
mehmet    30
dtype: int64

In [8]:
benimYaslarim =[25, 40, 30]
benimIsimlerim =["seyda", "zeynep", "mehmet"]

In [9]:
pd.Series(benimYaslarim)

0    25
1    40
2    30
dtype: int64

In [10]:
pd.Series(benimYaslarim, benimIsimlerim)

seyda     25
zeynep    40
mehmet    30
dtype: int64

In [11]:
pd.Series(data=benimIsimlerim, index=benimYaslarim)

25     seyda
40    zeynep
30    mehmet
dtype: object

In [12]:
numpyDizisi = np.array([25, 40, 30])

In [13]:
numpyDizisi

array([25, 40, 30])

In [14]:
pd.Series(numpyDizisi)

0    25
1    40
2    30
dtype: int32

In [15]:
pd.Series(numpyDizisi, benimIsimlerim)

seyda     25
zeynep    40
mehmet    30
dtype: int32

In [18]:
pd.Series([1,2,3],["seyda","atlas","osman"])

seyda    1
atlas    2
osman    3
dtype: int64

In [19]:
pd.Series(["seyda","atlas","osman"],[1,2,3])

1    seyda
2    atlas
3    osman
dtype: object

In [20]:
yarismaSonucu1 = pd.Series([10,5,1],["atil","atlas","osman"])

In [21]:
yarismaSonucu1

atil     10
atlas     5
osman     1
dtype: int64

In [22]:
yarismaSonucu2 = pd.Series([20,10,8],["atil","atlas","osman"])

In [23]:
yarismaSonucu2

atil     20
atlas    10
osman     8
dtype: int64

In [25]:
yarismaSonucu2["atlas"]

10

In [26]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [27]:
sonSonuc

atil     30
atlas    15
osman     9
dtype: int64

In [31]:
farkliSeries1 = pd.Series([20,30,40,50],["a","b","c","d"])

In [32]:
farkliSeries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [34]:
farkliSeries1 + farkliSeries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64